@{
    ViewData["Title"] = "輸入使用者名稱";
}
<head>   
    <meta charset="UTF-8">    
</head>
<h1>輸入使用者名稱</h1>

<style>

    p h1 {
        color: brown;
        font-size: 20px;
    }

    main {
        border: 1mm ridge rgba(211, 220, 50, .6);
    }
</style>